profiles {
  
  standard {

    executor {
        queueSize = 1000 
        submitRateLimit = '1/10sec'
        }

    process {
        executor = 'sge'
        penv = 'smp'
        maxRetries = 3
        cache = 'lenient'
        conda = "/wynton/protected/home/sirota/clairedubin/anaconda3/envs/MIDASv3"
        errorStrategy = { ${task.attempt} < 3 ? 'retry' : 'ignore' }
        // scratch = true

        // retry with higher memory if there's an out of memory error, else terminate
        // errorStrategy = { "${task.exitStatus}" == "140" ? 'retry' : 'terminate' }
        
        withLabel: 'mem_very_high' {
          cpus = 32
	        memory = { 2.GB * task.attempt }
          time = { 8.hour * task.attempt }
          clusterOptions = { " -S /bin/bash -R y -l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
        }

        withLabel: 'mem_high' {
          cpus = 4
	        memory = { 16.GB * task.attempt }
          time = { 6.hour * task.attempt }     
          clusterOptions = { " -S /bin/bash -R y -l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
        }

        withLabel: 'mem_medium' {
          cpus = 2
	        memory = { 8.GB * task.attempt }
          time = { 4.hour * task.attempt }  
          clusterOptions = { " -S /bin/bash -R y -l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
        }

        withLabel: 'single_cpu' {
          cpus = 1
	        memory = { 4.GB * task.attempt }
          time = { 4.hour * task.attempt }
          clusterOptions = { " -S /bin/bash -R y -l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
        }
    }

    conda { 
      enabled = true 
      cacheDir = ".env"  
    } 

    env {
      PYTHONPATH = "${baseDir}/bin"
    }

  } 
}
