profiles {
  
  standard {

    executor {
        queueSize = 500 
        }

    process {
        executor = 'sge'
        penv = 'smp'
        maxRetries = 3
        cache = 'lenient'
        conda = "/wynton/protected/home/sirota/clairedubin/anaconda3/envs/MIDASv3"
        errorStrategy = { ${task.attempt} < 3 ? 'retry' : 'ignore' }

        // retry with higher memory if there's an out of memory error, else terminate
        // errorStrategy = { "${task.exitStatus}" == "140" ? 'retry' : 'terminate' }

        withLabel: 'mem_very_high' {
          cpus = 16
	        memory = { 4.GB * task.attempt }
          time = '24h'
          clusterOptions = { " -S /bin/bash -R y -l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
        }

        withLabel: 'mem_high' {
          cpus = 8
	        memory = { 4.GB * task.attempt }
          time = '24h'     
          clusterOptions = { " -S /bin/bash -R y -l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
        }

        withLabel: 'mem_medium' {
          cpus = 4
	        memory = { 2.GB * task.attempt }
          time = '12h'  
          clusterOptions = { " -S /bin/bash -R y -l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
        }

        withLabel: 'single_cpu' {
          cpus = 1
	        memory = { 4.GB * task.attempt }
          time = '12h'
          clusterOptions = { " -S /bin/bash -R y -l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
        }
    }

    conda { 
      enabled = true 
      cacheDir = ".env"  
    } 

    env {
      PYTHONPATH = "${baseDir}/bin"
    }

  } 
}
